---
import NavigationBar from "../../../components/Navigation/NavigationBar/NavigationBar";
import Base from "../../Base/Base.astro";
const {frontmatter} = Astro.props;
---

<Base>
    <title slot="Head">{frontmatter.title} | dingo.foo</title>
    <NavigationBar activePage="Blog" />
    <br />
    <div class="prose dark:prose-invert mx-auto ">

        <slot />
    </div>
</Base>
