@media (prefers-color-scheme: dark) {
    :root {
        --astro-code-color-text: #EEEEEE;
        --astro-code-color-background: #333333;
        --astro-code-token-constant: #660000;
        --astro-code-token-string: #770000;
        --astro-code-token-comment: #880000;
        --astro-code-token-keyword: #990000;
        --astro-code-token-parameter: #AA0000;
        --astro-code-token-function: #BB0000;
        --astro-code-token-string-expression: #CC0000;
        --astro-code-token-punctuation: #DD0000;
        --astro-code-token-link: #EE0000;

        /* Only required if using ansiToHtml function */
        --astro-code-color-ansi-black: #000000;
        --astro-code-color-ansi-black-dim: #00000080;
        --astro-code-color-ansi-red: #bb0000;
        --astro-code-color-ansi-red-dim: #bb000080;
        --astro-code-color-ansi-green: #00bb00;
        --astro-code-color-ansi-green-dim: #00bb0080;
        --astro-code-color-ansi-yellow: #bbbb00;
        --astro-code-color-ansi-yellow-dim: #bbbb0080;
        --astro-code-color-ansi-blue: #0000bb;
        --astro-code-color-ansi-blue-dim: #0000bb80;
        --astro-code-color-ansi-magenta: #ff00ff;
        --astro-code-color-ansi-magenta-dim: #ff00ff80;
        --astro-code-color-ansi-cyan: #00bbbb;
        --astro-code-color-ansi-cyan-dim: #00bbbb80;
        --astro-code-color-ansi-white: #eeeeee;
        --astro-code-color-ansi-white-dim: #eeeeee80;
        --astro-code-color-ansi-bright-black: #555555;
        --astro-code-color-ansi-bright-black-dim: #55555580;
        --astro-code-color-ansi-bright-red: #ff5555;
        --astro-code-color-ansi-bright-red-dim: #ff555580;
        --astro-code-color-ansi-bright-green: #00ff00;
        --astro-code-color-ansi-bright-green-dim: #00ff0080;
        --astro-code-color-ansi-bright-yellow: #ffff55;
        --astro-code-color-ansi-bright-yellow-dim: #ffff5580;
        --astro-code-color-ansi-bright-blue: #5555ff;
        --astro-code-color-ansi-bright-blue-dim: #5555ff80;
        --astro-code-color-ansi-bright-magenta: #ff55ff;
        --astro-code-color-ansi-bright-magenta-dim: #ff55ff80;
        --astro-code-color-ansi-bright-cyan: #55ffff;
        --astro-code-color-ansi-bright-cyan-dim: #55ffff80;
        --astro-code-color-ansi-bright-white: #ffffff;
        --astro-code-color-ansi-bright-white-dim: #ffffff80;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --astro-code-color-text: #EEEEEE;
        --astro-code-color-background: #333333;
        --astro-code-token-constant: #660000;
        --astro-code-token-string: #770000;
        --astro-code-token-comment: #880000;
        --astro-code-token-keyword: #990000;
        --astro-code-token-parameter: #AA0000;
        --astro-code-token-function: #BB0000;
        --astro-code-token-string-expression: #CC0000;
        --astro-code-token-punctuation: #DD0000;
        --astro-code-token-link: #EE0000;

        /* Only required if using ansiToHtml function */
        --astro-code-color-ansi-black: #000000;
        --astro-code-color-ansi-black-dim: #00000080;
        --astro-code-color-ansi-red: #bb0000;
        --astro-code-color-ansi-red-dim: #bb000080;
        --astro-code-color-ansi-green: #00bb00;
        --astro-code-color-ansi-green-dim: #00bb0080;
        --astro-code-color-ansi-yellow: #bbbb00;
        --astro-code-color-ansi-yellow-dim: #bbbb0080;
        --astro-code-color-ansi-blue: #0000bb;
        --astro-code-color-ansi-blue-dim: #0000bb80;
        --astro-code-color-ansi-magenta: #ff00ff;
        --astro-code-color-ansi-magenta-dim: #ff00ff80;
        --astro-code-color-ansi-cyan: #00bbbb;
        --astro-code-color-ansi-cyan-dim: #00bbbb80;
        --astro-code-color-ansi-white: #eeeeee;
        --astro-code-color-ansi-white-dim: #eeeeee80;
        --astro-code-color-ansi-bright-black: #555555;
        --astro-code-color-ansi-bright-black-dim: #55555580;
        --astro-code-color-ansi-bright-red: #ff5555;
        --astro-code-color-ansi-bright-red-dim: #ff555580;
        --astro-code-color-ansi-bright-green: #00ff00;
        --astro-code-color-ansi-bright-green-dim: #00ff0080;
        --astro-code-color-ansi-bright-yellow: #ffff55;
        --astro-code-color-ansi-bright-yellow-dim: #ffff5580;
        --astro-code-color-ansi-bright-blue: #5555ff;
        --astro-code-color-ansi-bright-blue-dim: #5555ff80;
        --astro-code-color-ansi-bright-magenta: #ff55ff;
        --astro-code-color-ansi-bright-magenta-dim: #ff55ff80;
        --astro-code-color-ansi-bright-cyan: #55ffff;
        --astro-code-color-ansi-bright-cyan-dim: #55ffff80;
        --astro-code-color-ansi-bright-white: #ffffff;
        --astro-code-color-ansi-bright-white-dim: #ffffff80;
    }
}