---
import NavigationBar from "../../../components/Navigation/NavigationBar/NavigationBar";
import Base from "../../Base/Base.astro";

import { getCollection, getEntry } from "astro:content";
import { Markdown } from '@astropub/md'
const blogPosts = await getCollection("blog");
---

<Base>
    <title slot="Head">Blog Posts | dingo.foo</title>
    <NavigationBar activePage="Blog" />
    <br />
    <div class="prose mx-auto dark:prose-invert max-w-7xl">
        {
            blogPosts.map((post) => {
                return (
                    <div>
                        <div>
                            <h1>{post.data.title}</h1>
                            <Markdown.Inline of={post.data.description} />
                            </div>
                            <div>
                        <a href={`/blog/${post.slug}`}>Read more</a>
                    </div>
                    </div>
                      <div class="divider"></div> 
                );
            })
        }
    </div>
</Base>
