---
import NavigationBar from "../../components/Navigation/NavigationBar/NavigationBar";
import OverlayHero from "../../components/Hero/OverlayHero/OverlayHero";
import Base from "../Base/Base.astro";
import "../../styles/neumorphism.css";
---

<Base>
    <title slot="Head">Home | dingo.foo</title>
    <NavigationBar activePage="Home" />
    <br />
    <div class="block mx-auto w-2/3">
        <OverlayHero />
    </div>
    <div class="prose mx-auto dark:prose-invert max-w-7xl"></div>
</Base>
